## Use this command below.
# pip install -r requirements.txt

# Library
requests
pandas
scikit-learn
numpy
scipy
matplotlib      # graph plotting
seaborn         # graph showing
jupyterlab      # for jupyter notebook; *.ipynb
# tensorflow
pylint
flask