
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is your winrate...</title>  
</head>
<body>
    <h2>최근 경기 중 최대 20개를 분석하여 해당 경기의 승률을 알려줍니다.</h2>
    <p>자신의 kda, cs, object, 그리고 나의 팀의 kd을 이용해 승률을 분석합니다.
        <br>실제 경기의 승패여부와 모델이 예측한 승패여부를 비교해보세요.
    </p>
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>matchId</th>
      <th>lane</th>
      <th>kills</th>
      <th>deaths</th>
      <th>assists</th>
      <th>cs</th>
      <th>barons</th>
      <th>dragons</th>
      <th>heralds</th>
      <th>towers</th>
      <th>win</th>
      <th>prediction</th>
      <th>win_proba</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>KR_5502138694</td>
      <td>UTILITY</td>
      <td>4</td>
      <td>10</td>
      <td>24</td>
      <td>38</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>7</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>1</th>
      <td>KR_5502163192</td>
      <td>UTILITY</td>
      <td>6</td>
      <td>1</td>
      <td>12</td>
      <td>20</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>KR_5502067031</td>
      <td>UTILITY</td>
      <td>5</td>
      <td>5</td>
      <td>22</td>
      <td>18</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>9</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>KR_5491656800</td>
      <td>UTILITY</td>
      <td>0</td>
      <td>8</td>
      <td>6</td>
      <td>26</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>KR_5491619637</td>
      <td>UTILITY</td>
      <td>4</td>
      <td>9</td>
      <td>18</td>
      <td>34</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>KR_5491395473</td>
      <td>UTILITY</td>
      <td>2</td>
      <td>11</td>
      <td>21</td>
      <td>31</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>11</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>KR_5483287951</td>
      <td>UTILITY</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>35</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>KR_5502444116</td>
      <td>UTILITY</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>21</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>KR_5491350483</td>
      <td>UTILITY</td>
      <td>3</td>
      <td>14</td>
      <td>9</td>
      <td>23</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>KR_5489509178</td>
      <td>UTILITY</td>
      <td>6</td>
      <td>7</td>
      <td>14</td>
      <td>31</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>6</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>KR_5489466354</td>
      <td>UTILITY</td>
      <td>10</td>
      <td>5</td>
      <td>22</td>
      <td>34</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>7</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>11</th>
      <td>KR_5483148861</td>
      <td>UTILITY</td>
      <td>3</td>
      <td>6</td>
      <td>2</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>matchId</th>
      <th>lane</th>
      <th>kills</th>
      <th>deaths</th>
      <th>assists</th>
      <th>cs</th>
      <th>barons</th>
      <th>dragons</th>
      <th>heralds</th>
      <th>towers</th>
      <th>total_kills</th>
      <th>total_deaths</th>
      <th>win</th>
      <th>prediction</th>
      <th>win_proba</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>KR_5502138694</td>
      <td>UTILITY</td>
      <td>4</td>
      <td>10</td>
      <td>24</td>
      <td>38</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>7</td>
      <td>47</td>
      <td>52</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>1</th>
      <td>KR_5502163192</td>
      <td>UTILITY</td>
      <td>6</td>
      <td>1</td>
      <td>12</td>
      <td>20</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>30</td>
      <td>10</td>
      <td>True</td>
      <td>True</td>
      <td>100.00%</td>
    </tr>
    <tr>
      <th>2</th>
      <td>KR_5502067031</td>
      <td>UTILITY</td>
      <td>5</td>
      <td>5</td>
      <td>22</td>
      <td>18</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>9</td>
      <td>36</td>
      <td>29</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>3</th>
      <td>KR_5491656800</td>
      <td>UTILITY</td>
      <td>0</td>
      <td>8</td>
      <td>6</td>
      <td>26</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>12</td>
      <td>30</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>4</th>
      <td>KR_5491619637</td>
      <td>UTILITY</td>
      <td>4</td>
      <td>9</td>
      <td>18</td>
      <td>34</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>9</td>
      <td>42</td>
      <td>30</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>5</th>
      <td>KR_5491395473</td>
      <td>UTILITY</td>
      <td>2</td>
      <td>11</td>
      <td>21</td>
      <td>31</td>
      <td>0</td>
      <td>3</td>
      <td>2</td>
      <td>11</td>
      <td>43</td>
      <td>42</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>6</th>
      <td>KR_5483287951</td>
      <td>UTILITY</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>35</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>26</td>
      <td>43</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>7</th>
      <td>KR_5502444116</td>
      <td>UTILITY</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>21</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>17</td>
      <td>25</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>8</th>
      <td>KR_5491350483</td>
      <td>UTILITY</td>
      <td>3</td>
      <td>14</td>
      <td>9</td>
      <td>23</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>17</td>
      <td>43</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>9</th>
      <td>KR_5489509178</td>
      <td>UTILITY</td>
      <td>6</td>
      <td>7</td>
      <td>14</td>
      <td>31</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>6</td>
      <td>36</td>
      <td>26</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>10</th>
      <td>KR_5489466354</td>
      <td>UTILITY</td>
      <td>10</td>
      <td>5</td>
      <td>22</td>
      <td>34</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>7</td>
      <td>42</td>
      <td>33</td>
      <td>True</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
    <tr>
      <th>11</th>
      <td>KR_5483148861</td>
      <td>UTILITY</td>
      <td>3</td>
      <td>6</td>
      <td>2</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>19</td>
      <td>False</td>
      <td>False</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table>
    <form action="/main" method="get">
    <button>Back</button>
    </form>
</body>
</html>
